.thumbs-wrapper,
.carousel-status,
.control-arrow {
  display: none;
}

.carousel.carousel-slider {
  min-height: 45vh;
}

.carousel .slide {
  position: relative;
}

.carousel .slide::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 5, 0.514);
}

.slider {
  max-height: 76vh;
}

.image__wrapper {
  position: relative;
  cursor: pointer;
}

.image__actor {
  position: absolute;
  opacity: 0;
  left: 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.image__wrapper:hover .image__actor {
  opacity: 1;
}

.active {
  display: flex !important;
}

@media (max-width: 670px) {
  .control-dots {
    display: none;
  }
}
