.thumbs-wrapper,
.carousel-status,
.control-arrow {
  display: none;
}

.carousel.carousel-slider {
  height: 750px;
}

.carousel .slide {
  position: relative;
}

.carousel .slide::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 60%);
}

@media (max-width: 1370px) {
  .carousel.carousel-slider {
    height: initial;
  }
}
